.brand{
        padding: 2rem;
        border-bottom: 1px black solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
    h1{
        text-transform: uppercase;
        align-self: center;
        margin-top: 1rem;
}
}
.menu-container{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    background-color: red;
    ul{     
            display: flex;
            list-style-type: none;  
            height: 36px; 
            a{
                text-decoration: none;
                align-self: center;
                li {
                    padding: 0 0.8rem;
                    text-transform: capitalize;
                    border-right: 1px white solid;
                    color: white;
                }
            } 
           
    }
}